PROJECT_NAME=
PROJECT_VERSION=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Django
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
ENCRYPT_KEY=
IV=

# React 
REACT_PORT=

# Vite
VITE_API_URL=
VITE_SECRET_KEY=

PGSERVICEFILE=
